@import "components/header.css";
@import "components/footer.css";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  color: #333;
  background-color: #fdf6e3;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

a {
  color: #00e;
  text-decoration: none;
}
